<div class="container" ng-controller="ShowCtrl as ctrl">

    <h1>Brand Query</h1>
    <br>
    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="upc12">Barcode number:</label>
            <input id="upc12" class="form-control" type="text" name="upc12"
                   placeholder="Enter barcode number to search"
                   ng-model="ctrl.upc12"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <hr>
    <table class="table table-striped" ng-show="ctrl.showDetails">
        <thead>
        <tr>
            <th>Brand Attributes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Barcode number</td>
            <td>
                {{ ctrl.result.upc12 }}
            </td>
        </tr>
        <tr>
            <td>Brand name</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.brand }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
                    </button>

                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control"  size ="1" ng-model="ctrl.result.brand">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.save()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        <tr>
            <td>Product Id</td>
            <td>
                <button type="button" class="btn btn-link btn-sm"
                        ng-disabled="!ctrl.result.name"
                        ng-click="ctrl.deleteProduct()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td>{{ ctrl.result.id
                ? ctrl.result.name + " (ID: " + ctrl.result.id + ")"
                : "No product found." }}
            </td>
        </tr>
        </tbody>
    </table>
</div>


