<div class="container" ng-controller="SearchCtrl as ctrl">

    <h1>Search Here :</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="brandName" class="form-control" type="text" name="brandName" ng-model="ctrl.brandName"
                   placeholder="Enter Brand name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Brand
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForProduct()">
                Search with Brand Product
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Barcode No</th>
            <th>Brand name</th>
            <th ng-show="ctrl.showProduct">Brand Product Name</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="brd in ctrl.brands">
            <td><a ng-click="ctrl.showBrands(brd.upc12)">{{src="http://www.barcodes4.me/barcode/c128a/brd.upc12.png?IsTextDrawn=1"}}</a></td>
            <td>{{ brd.brand }}</td>
            <td>{{ brd.name}}</td>
            <td><button class="btn btn-info "><a href="#/C" >
                Edit
            </a></button></td>
        </tr>
        </tbody>
    </table>
</div>